# --- Archivos de Proyecto (Spring Boot) ---
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- NetBeans ( ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
# Estos dos son clave para que no se suba tu config local:
nb-configuration.xml
nbactions.xml

# --- IDEs Varios  ---
# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# --- Archivos del Sistema Operativo (Basura) ---
.DS_Store
Thumbs.db
*.log